# Data Observation

## Import packages

In [1]:
import pandas as pd
import re
pd.set_option('display.max_colwidth', 0)

In [2]:
train_backup = pd.read_csv('data/train.csv')

In [3]:
test_backup = pd.read_csv('data/test.csv')

In [4]:
traindf = train_backup.copy()
testdf = test_backup.copy()

In [5]:
review_list = list(traindf['review'])
rating_list = list(traindf['rating'])

In [6]:
print(len(review_list), len(rating_list))

146811 146811

In [7]:
traindf.drop('review_id', axis=1, inplace=True)
traindf['review'] = traindf['review'].str.strip().str.lower()

## 評論中只包含good的評分狀況

In [39]:
# 評論中包含 'good' 
good_review = traindf[traindf['review'].str.contains('good', re.IGNORECASE)]
print(good_review.describe())
good_review.groupby('rating').count()

             rating
count  61592.000000
mean   3.752078
std    1.086374
min    1.000000
25%    3.000000
50%    4.000000
75%    5.000000
max    5.000000

        review
rating
1       3170
2       2689
3       18786
4       18543
5       18404

## 評論中不包含任何單詞的長相

In [9]:
# 評論中只包含符號的
symbol_review = traindf[traindf['review'].str.match(r'^[^\w\r\n]+$')]
print(symbol_review.describe())
symbol_review.sample(10)

          rating
count  69.000000
mean   3.826087
std    0.856747
min    1.000000
25%    3.000000
50%    4.000000
75%    4.000000
max    5.000000

,review,rating
32762,👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻 👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻 👍🏻👍🏻,3
76559,✨💎💎✨💎💎✨ 💎💎💎💎💎💎💎 💎💎💎💎💎💎💎 ✨💎💎💎💎💎✨ ✨✨💎💎💎✨✨ ✨✨✨💎✨✨✨ ✨💎💎✨💎💎✨ 💎💎💎💎💎💎💎 💎💎💎💎💎💎💎 ✨💎💎💎💎💎✨ ✨✨💎💎💎✨✨ ✨✨✨💎✨✨✨ ✨💎💎✨💎💎✨ 💎💎💎💎💎💎💎 💎💎💎💎💎💎💎 ✨💎💎💎💎💎✨ ✨✨💎💎💎✨✨ ✨✨✨💎✨✨✨ ✨💎💎✨💎💎✨ 💎💎💎💎💎💎💎 💎💎💎💎💎💎💎 ✨💎💎💎💎💎✨ ✨✨💎💎💎✨✨ ✨✨✨💎✨✨✨,4
91100,👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍 👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍 👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍 👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍,4
92696,🌟💚🌟🌟💚🌟💙🌟 🌟💚💚💚💚🌟💚🌟 🌟💚🌟🌟💚🌟💚🌟 🌟💚🌟🌟💚🌟💙🌟 🌟💚💚💚💚🌟💚🌟 🌟💚🌟🌟💚🌟💚🌟 🌟💚🌟🌟💚🌟💙🌟 🌟💚💚💚💚🌟💚🌟 🌟💚🌟🌟💚🌟💚🌟 🌟💚🌟🌟💚🌟💙🌟 🌟💚💚💚💚🌟💚🌟 🌟💚🌟🌟💚🌟💚🌟,4
109204,🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰 👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍 🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰 👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍,5
59329,👍🏻.......... .......... .......... .......... .......... .......... ...........,3
134948,😍😍😍😍😍😍😍😍😍😍😍 😍😍😍😍😍😍😍😍😍😍😍 😍😍😍😍😍😍😍😍😍😍😍 😍😍😍😍😍😍😍😍😍😍😍 😍😍😍😍😍😍😍😍😍😍😍,5
20653,☁😊☁☁😊☁😁☁ ☁😊☁☁😊☁☁☁ ☁😊😊😊😊☁😊☁ ☁😊☁☁😊☁😊☁ ☁😊☁☁😊☁😊☁ ☁😊☁☁😊☁😁☁ ☁😊☁☁😊☁☁☁ ☁😊😊😊😊☁😊☁ ☁😊☁☁😊☁😊☁ ☁😊☁☁😊☁😊☁,2
98468,=============•============== •••••••••••••••••••••••••••••••••••••••,4
81771,👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌,4

## 評論中含有 "😁😄😊🥰😍👍👍" 這些表情的評分狀況

In [38]:
# 評論中有這些表情的
symbol_review[symbol_review['review'].str.match(r'[😁😄😊🥰😍👍👍🏻]')].groupby('rating').count()

        review
rating
3       9
4       6
5       10

In [12]:
# 評論中含有unicode空白符的
uspace_review = traindf[traindf['review'].str.contains(u'\u200b')]
print(uspace_review.describe())

            rating
count  2375.000000
mean   3.948211
std    1.231541
min    1.000000
25%    4.000000
50%    4.000000
75%    5.000000
max    5.000000

In [9]:
dupchar_pat = re.compile(r'([a-zA-z_])\1{2,}')
dupdf = traindf[traindf['review'].str.contains(dupchar_pat)]
dupdf.sample(10)

C:\Users\pb580\anaconda3\envs\ML_Env\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

,review,rating
22741,"laaamaaa bgt, pesen new nyampe 17th, on 1st june. fortunately, before the eid sampenya. pesenan where people already diyanyain mulu ... 😣😣😣",2
47812,loved it ... free shipping scarfnyaaaa its course rather lamaa to garut until 1 new mggu sent that was once there japri here ...,3
50066,bagusss..cma glue his urng tighter so afraid of his offense mata2,3
131815,very cantikkkkk .... contented ... the price is very cheap buy ..,5
122121,baguss quality fast delivery sekalii okelaaahhh ....,5
103198,"yeee end who in waiting to come as well, the goods arrived safely. to order and secure really because in packs with thick so secure really thinks. hopefully this fit in my skin",4
135974,sukaaaaaaa bgtttttttttt sistaaaaaaa makasihhhhh yaaaaaaaaa cucokkkkkkk meyonggggggg dechhhhhhhh,5
61025,okaaaaaaaaaayyyyy boooossssss ..... goods perfect landing ... cucooookkkkk thankyouuuuuuu ..... 😉,3
135784,orders booked in accordance with reply .... delivery in very neatly packing .... sering2 flash sale yaaa .... thanks nutrimart n shopee ...,5
65852,"austria beautiful, sure, like always super quality, genuine lammmm more tags ❤️❤️ shop also very luonnnn cug mask again, more households will ug 😍😍😍",4

In [14]:
testdf.head()

,review_id,review
0,1,"Great danger, cool, motif and cantik2 jg models. Delivery cepet. Tp packing less okay krn only wear clear plastic nerawang klihtan contents jd"
1,2,One of the shades don't fit well
2,3,Very comfortable
3,4,Fast delivery. Product expiry is on Dec 2022. Product wrap properly. No damage on the item.
4,5,it's sooooo cute! i like playing with the glitters better than browsing on my phone now. item was also deliered earlier than i expected. thank you seller! may you have more buyers to come. 😊😊😊