# Data Observation

## Import packages

In [2]:
import pandas as pd
import re
pd.set_option('display.max_colwidth', 0)

In [3]:
train_backup = pd.read_csv('data/train.csv')

In [4]:
test_backup = pd.read_csv('data/test.csv')

In [5]:
traindf = train_backup.copy()
testdf = test_backup.copy()

In [6]:
review_list = list(traindf['review'])
rating_list = list(traindf['rating'])

In [7]:
print(len(review_list), len(rating_list))

146811 146811

In [8]:
traindf.drop('review_id', axis=1, inplace=True)
traindf['review'] = traindf['review'].str.strip().str.lower()

## 評論中只包含good的評分狀況

In [39]:
# 評論中包含 'good' 
good_review = traindf[traindf['review'].str.contains('good', re.IGNORECASE)]
print(good_review.describe())
good_review.groupby('rating').count()

             rating
count  61592.000000
mean   3.752078
std    1.086374
min    1.000000
25%    3.000000
50%    4.000000
75%    5.000000
max    5.000000

        review
rating
1       3170
2       2689
3       18786
4       18543
5       18404

## 評論中不包含任何單詞的長相

In [9]:
# 評論中只包含符號的
symbol_review = traindf[traindf['review'].str.match(r'^[^\w\r\n]+$')]
print(symbol_review.describe())
symbol_review.sample(10)

          rating
count  69.000000
mean   3.826087
std    0.856747
min    1.000000
25%    3.000000
50%    4.000000
75%    4.000000
max    5.000000

,review,rating
32762,👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻 👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻👍🏻 👍🏻👍🏻,3
76559,✨💎💎✨💎💎✨ 💎💎💎💎💎💎💎 💎💎💎💎💎💎💎 ✨💎💎💎💎💎✨ ✨✨💎💎💎✨✨ ✨✨✨💎✨✨✨ ✨💎💎✨💎💎✨ 💎💎💎💎💎💎💎 💎💎💎💎💎💎💎 ✨💎💎💎💎💎✨ ✨✨💎💎💎✨✨ ✨✨✨💎✨✨✨ ✨💎💎✨💎💎✨ 💎💎💎💎💎💎💎 💎💎💎💎💎💎💎 ✨💎💎💎💎💎✨ ✨✨💎💎💎✨✨ ✨✨✨💎✨✨✨ ✨💎💎✨💎💎✨ 💎💎💎💎💎💎💎 💎💎💎💎💎💎💎 ✨💎💎💎💎💎✨ ✨✨💎💎💎✨✨ ✨✨✨💎✨✨✨,4
91100,👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍 👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍 👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍 👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍,4
92696,🌟💚🌟🌟💚🌟💙🌟 🌟💚💚💚💚🌟💚🌟 🌟💚🌟🌟💚🌟💚🌟 🌟💚🌟🌟💚🌟💙🌟 🌟💚💚💚💚🌟💚🌟 🌟💚🌟🌟💚🌟💚🌟 🌟💚🌟🌟💚🌟💙🌟 🌟💚💚💚💚🌟💚🌟 🌟💚🌟🌟💚🌟💚🌟 🌟💚🌟🌟💚🌟💙🌟 🌟💚💚💚💚🌟💚🌟 🌟💚🌟🌟💚🌟💚🌟,4
109204,🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰 👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍 🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰🥰 👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍,5
59329,👍🏻.......... .......... .......... .......... .......... .......... ...........,3
134948,😍😍😍😍😍😍😍😍😍😍😍 😍😍😍😍😍😍😍😍😍😍😍 😍😍😍😍😍😍😍😍😍😍😍 😍😍😍😍😍😍😍😍😍😍😍 😍😍😍😍😍😍😍😍😍😍😍,5
20653,☁😊☁☁😊☁😁☁ ☁😊☁☁😊☁☁☁ ☁😊😊😊😊☁😊☁ ☁😊☁☁😊☁😊☁ ☁😊☁☁😊☁😊☁ ☁😊☁☁😊☁😁☁ ☁😊☁☁😊☁☁☁ ☁😊😊😊😊☁😊☁ ☁😊☁☁😊☁😊☁ ☁😊☁☁😊☁😊☁,2
98468,=============•============== •••••••••••••••••••••••••••••••••••••••,4
81771,👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌 👌,4

## 評論中含有 "😁😄😊🥰😍👍👍" 這些表情的評分狀況

In [38]:
# 評論中有這些表情的
symbol_review[symbol_review['review'].str.match(r'[😁😄😊🥰😍👍👍🏻]')].groupby('rating').count()

        review
rating
3       9
4       6
5       10

In [12]:
# 評論中含有unicode空白符的
uspace_review = traindf[traindf['review'].str.contains(u'\u200b')]
print(uspace_review.describe())

            rating
count  2375.000000
mean   3.948211
std    1.231541
min    1.000000
25%    4.000000
50%    4.000000
75%    5.000000
max    5.000000

In [40]:
dupchar_pat = re.compile(r'([a-zA-z_])\1{2,}')
dupdf = traindf[traindf['review'].str.contains(dupchar_pat)]
dupdf.sample(10)

C:\Users\pb580\anaconda3\envs\ML_Env\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

,review,rating
65423,baguus. dalemannya material just for long enough. so rich gituh wear shorts. hemmm but okay,4
95453,ok ...... lighten hhgghkks sdkdkol be 1121222222eeddfjj sshhbdjisjsjssedfftff dfffff,4
74125,order has been received. sellernya quick response. the product is ok. makasihhhhhhh ...............................,4
6312,"sorry disappointed bgtt this. chat then in the empty goods, i said refund until just fit my stuff back for a refund chat gak in response at all until the limit of 3 days from shopee. although i reply his seharus loss of 50 thousand refund but could only 44 thousand. parahhh😌",1
114300,"can not wait for cobaaaaaaaa, her baby may nyamaaaannnnnnn. thanks seller",5
97855,material according satisfied price bangettttttt,4
122464,"the arrival goods lbh cepet, nice materials, printing and drawing also bagussss 59,000 bngt prices, bakal will estimate the size lbh big anyway, this is exactly the size of a regular krtu, tpi gpp, tetep memuaskan😍😍😍😍",5
146766,"orders are, survived until the goal. , , , 😍 😍 😍 😍 😘 😘 😘 😘 packaging and delivery of its processes quickly, safely and rapii pancking 👍 👍 👍 👍 as always puassss shopping here. , , 💕 💕 💕 💕 💕 happy shopping deh kalo accordance with the order, 😊😊 thank seller🙏",5
74556,bagussssssszssssss sukakkakakakakaakkakaakak bangettytttt,4
87711,top up terusssssssssssssssssmenerururururururssssssssssssswkwkwkwkwkwkkwkwkwkwkwkwkwkkwwkwkkwkwkwkwkwkwkwkwkwkkwwkkwkwkwkwkwkwkkwkwkwkwkwkwkwkkwkwkwkwkwkwkwkkwkwkwkwkkwkwkwkwkwkw,4