## Meaningless Spelling Filter
<span style='color:#FF0000'><i class="fa fa-exclamation-circle"></i> 這個cell必須建立在方向2、4、1都解決的前提下才能執行。</span>  
<i class="fa fa-exclamation-circle"></i> 方向5  
過濾掉那些亂打字的字串，目前的做法是詞頻小於n個的都拿掉，可能會拿掉一些正常單詞，但出現數量太少也不會影響學習。

In [1]:
import nltk
# nltk.download('stopwords') 沒下載過的話把註解拿掉
# nltk.download('punkt') 沒下載過的話把註解拿掉

import string
from nltk.corpus import stopwords

import re
import numpy as np
import pandas as pd

In [21]:
# 讀取處理好的檔
df = pd.read_csv('data/cleaned_data/data_sol241.csv')

In [22]:
df[df['review'].isna()]

Empty DataFrame
Columns: [review_id, review, rating]
Index: []

In [23]:
# 先把符號過濾掉
df['review'] = df['review'].str.replace(r'[^\w\s\r\n]', '')

In [24]:
rating1 = df[df['rating'] == 1]
print(len(rating1))

14784

In [28]:
rating1.reset_index(drop=True, inplace=True)
rating1[7270:7280]

      review_id                                             review  rating
7270       7270  the side of the shirt there who do not terjahi...       1
7271       7271  not good service very poor service bad didn no...       1
7272       7272                poor product quality he then lights       1
7273       7274                 poor product quality unlike sample       1
7274       7275                            wrong item my close yet       1
7275       7276  the products do not original the product price...       1
7276       7277                    the product quality is not good       1
7277       7278                       small pants disappointed bgt       1
7278       7279  it can not trap mosquitoes in spite of a lot o...       1
7279       7280                          put white yellow traffic        1

In [29]:
rating1.loc[7272:7280]

      review_id                                             review  rating
7272       7272                poor product quality he then lights       1
7273       7274                 poor product quality unlike sample       1
7274       7275                            wrong item my close yet       1
7275       7276  the products do not original the product price...       1
7276       7277                    the product quality is not good       1
7277       7278                       small pants disappointed bgt       1
7278       7279  it can not trap mosquitoes in spite of a lot o...       1
7279       7280                          put white yellow traffic        1
7280       7281  sy buy 2 yg jd 1 dalemnya crooked can not be u...       1

In [30]:
# 把所有單詞丟進words
words = []
stops = stopwords.words('english') + list(string.punctuation)
wordslist = rating1['review'].apply(nltk.word_tokenize)
for i in range(len(rating1)):
    words.extend([word for word in wordslist[i] if word not in stops])

In [31]:
# 統計每個單詞出現的量(詞頻)
wordfreqs = nltk.FreqDist(words)
wordfreqs

FreqDist({'quality': 2413, 'product': 2373, 'good': 2280, 'goods': 1862, 'seller': 1807, 'delivery': 1594, 'order': 1574, 'poor': 1479, 'disappointed': 1205, 'item': 1193, ...})

In [34]:
mostwords = []
for wf in wordfreqs.items():
    if int(wf[1]) > 500:
        mostwords.append(wf[0])
        
mostwords

['ga',
 'disappointed',
 'speed',
 'delivery',
 'good',
 'already',
 'sent',
 'goods',
 'want',
 'like',
 'shop',
 'one',
 '2',
 'received',
 '1',
 'money',
 'price',
 'product',
 'quality',
 'different',
 'color',
 'small',
 'long',
 'size',
 'bad',
 'less',
 'order',
 'buy',
 'wrong',
 'item',
 'poor',
 'items',
 'also',
 'really',
 'seller',
 'time',
 'response',
 'thumbsdown',
 'send',
 'service',
 'sob']