# 這個程式專產白卷......

## Import packages

In [1]:
import pandas as pd

## Read data

In [2]:
test = pd.read_csv('data/test.csv')
test.review = test.review.astype(str)

## All-five

In [3]:
all_five = [5]*len(test)
submission = test.drop('review', axis=1)
submission['rating'] = all_five
submission

       review_id  rating
0              1       5
1              2       5
2              3       5
3              4       5
4              5       5
...          ...     ...
60422      60423       5
60423      60424       5
60424      60425       5
60425      60426       5
60426      60427       5

[60427 rows x 2 columns]