In [2]:
import pandas as pd
import re
import numpy as np

In [3]:
addr_list = ['Metro Manila', 'Luzon', 'Visayas', 'Mindanao']
SLA = pd.DataFrame([[3, 5, 7, 7], [5, 5, 7, 7], [7, 7, 7, 7], [7, 7, 7, 7]], 
                   index = addr_list,
                   columns = addr_list)
SLA

              Metro Manila  Luzon  Visayas  Mindanao
Metro Manila             3      5        7         7
Luzon                    5      5        7         7
Visayas                  7      7        7         7
Mindanao                 7      7        7         7

In [8]:
dodf = pd.read_csv('delivery_orders_march_shortaddr.csv')

      orderid
0  2215676524
1  2219624609
2  2220979489
3  2221066352
4  2222478803

In [23]:
blank = pd.DataFrame()
blank['orderid'] = dodf.orderid
blank.head()

      orderid
0  2215676524
1  2219624609
2  2220979489
3  2221066352
4  2222478803

In [24]:
blank0 = blank.copy()
blank0['is_late'] = 0

In [25]:
blank1 = blank.copy()
blank1['is_late'] = 1

In [30]:
blank1

                orderid  is_late
0            2215676524        1
1            2219624609        1
2            2220979489        1
3            2221066352        1
4            2222478803        1
...                 ...      ...
3176308  31504087640510        1
3176309  31504147352227        1
3176310  31504462290482        1
3176311  31504851495943        1
3176312  31505199116340        1

[3176313 rows x 2 columns]

In [32]:
blank0.to_csv('blank0.csv', index=False)
blank1.to_csv('blank1.csv', index=False)

PermissionError: [Errno 13] Permission denied: 'blank0.csv'

In [ ]:
blank0_adjust = blank.copy()
blank0_adjust.